<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Recent Profile Reviews Orders</h6>

            </div>
            <!-- Card Body -->

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable-RecentOrder" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Beneficiary </th>
                                <th>Chronic Disase </th>
                                <th>Service </th>
                                <th>Invoice </th>
                                <th>Price </th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Anas</td>
                                <td>Tubercrosle</td>
                                <td>Tooth</td>
                                <td>#0000</td>
                                <td>500</td>
                                <td>InProgress</td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       

        </div>
    </div>

    <!-- Pie Chart -->

</div>
