@model List<Eihal.Data.Entites.ClinicalSpeciality>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
}

<style>
    .scroll-container {
        max-height: 100%;
        overflow-y: auto;
        display: flex;
    }

        /* Customize the scrollbar */
        .scroll-container::-webkit-scrollbar {
            width: 1px;
            height: 5px;
        }

        .scroll-container::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 5px;
        }

        .scroll-container::-webkit-scrollbar-thumb {
            border-radius: 5px;
        }

    .privillages > div {
        padding: 5px; /* Adjust the padding as needed */
    }


    button.active {
        background-color: #00768c;
        color: #fff;
        /* Add any other styles you want for active buttons */
    }

    .activeLink {
        color: #00768c;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    .toast {
        margin-top: 50px !important;
    }

    .toast-success {
        background-color: #00333f;
    }



    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }


    .margin-15-position-obselete {
        position: absolute;
        margin: 10px;
        width: 95%;
        margin-left: 35px;
        margin-bottom: 20px;
    }

    .service-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;
        background: #f8f9fa
    }

        .service-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

    .service-card-body {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .service-card-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
        color: #00768c
    }

    .service-card-text {
        color: #666;
        margin-bottom: 5px;
    }


    .dots-container {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dots-button {
        background: none;
        border: none;
        color: red;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }

        .dots-button::before {
            position: absolute;
            color: red;
            font-size: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::after {
            content: "";
            position: absolute;
            background-color: #007bff;
            width: 4px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::before,
        .dots-button::after {
            border-radius: 50%;
        }

        .dots-button::after {
            top: 54%;
        }

        .dots-button::before {
            top: 46%;
        }

    .activeLink {
        color: #00768c;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    #menu .nav-item:hover {
        /* Add your desired styles for hover state */
        background-color: #e0e0e0;
        color: #333;
    }

    .tab-header {
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
    }

    .padding-top-25 {
        padding-top: 25px;
    }

    .tab-button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        border-radius: 12px;
        margin: 5px;
    }

        .tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active {
            background-color: #00768c;
            color: white
        }

    .tab-content {
        background-color: #fff;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

        .search-container input {
            padding-right: 30px; /* Add space for the search icon */
        }

        .search-container i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
        }

    /*.color-changing-button {
                          background-color: #007bff;
                          color: #fff;
                          border: none;
                          border-radius: 4px;
                          padding: 12px 20px;
                          font-size: 16px;
                          cursor: pointer;
                          transition: background-color 0.3s, transform 0.3s;
                        }

                        .color-changing-button:hover {
                          background-color: #0056b3;
                          transform: scale(1.05);
                        }

                        .color-changing-button:focus {
                          outline: none;
                        }

                        .color-changing-button:active {
                          transform: scale(0.95);
                        }*/


</style>

<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" style="direction:@direction;text-align:@textAlign">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:125px;">
                        @*  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>*@
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        @Html.Partial("_Sidebar")



                        <div class="col-xl-8 col-lg-8 ">
                            <br />
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <span style="color:#00768c" class="nav-link" href="#">
                                            <i style="color:#00768c" class="fas fa-medkit" aria-hidden="true"></i>
                                            <span id="myServices-text" style="color:#00768c">My Services</span>
                                        </span>
                                    </h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="max-height: 768px; overflow-y: auto;">
                                    <div id="tab2" class="tab-content">
                                        <div class="container">
                                            <div class="row" id="serviceContainer">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <span style="color:#00768c" class="nav-link" href="#">
                                            <i style="color:#00768c" class="fas fa-medkit" aria-hidden="true"></i>
                                            <span id="myServices-text" style="color:#00768c">Services</span>
                                            @*<button class="color-changing-button" id="myButton">Auto Color Change</button>*@



                                        </span>

                                    </h6>

                                </div>
                                <div class="row">
                                    <div class="form-group mr-2 search-container">
                                        <input type="text" class="form-control margin-15-position-obselete" id="filterInput" name="search" style="margin-top: 75px; background-color: #f2f2f2;" placeholder="Search" value="">
                                        <i class="fas fa-search" style="margin-top: 28px; margin-right: 2.5%; color: #00768c;cursor:pointer" onclick="GetAllService()"></i>
                                    </div>
                                </div>
                                <div class="scroll-container" style="padding-top:5%; margin-right:2%; margin-left:2%">
                                    <div class="row privillages" style="padding-top: 40px; padding-left: 35px; white-space: nowrap;display:contents">
                                        <div>
                                            <button style=" padding-left: 30px; padding-right: 30px; border-color: transparent;" data-value="All" class="active">All</button>
                                        </div>
                                        @foreach (var clinic in Model)
                                        {
                                            <div>
                                                <button style=" border-color: transparent;" data-value="@clinic.Id">@clinic.TitleEn</button>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body" style="max-height: 768px; overflow-y: auto;">
                                    <div id="tab2" class="tab-content">
                                        <div class="container">
                                            <div class="row" id="allServiceContainer">
                                            </div>
                                            @*        <div class="no-results-section" style="display:none">
                                            <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                            <p>No Services Added Yet.</p>
                                            </div>*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!------------------------------ Add Service -------------------->
<div class="modal fade" id="AddServiceModal" tabindex="-1" role="dialog" aria-labelledby="AddServiceModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUserProfileModal">Add Privilege</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Add your modal content here -->
                    <div style="padding: 10px; display: flex; justify-content: center;">
                        <div style="max-width: 300px;">
                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="service-namear-input">Service Name:</label>
                                <input disabled type="text" class="form-control" id="service-namear-input" value="Test" required>
                                <input disabled type="hidden" id="service-id-input" value="0" required>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="fee-input">Fee:</label>
                                <input disabled type="text" class="form-control" id="fee-input" value="10%" required>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="price-input">Your Price:</label>
                                <input type="number" class="form-control" id="price-input" value="10%" min="0" required onkeyup="if(this.value.length > 0) document.getElementById('send-for-review-btn').disabled = false; else document.getElementById('send-for-review-btn').disabled = true;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-add-service">Cancel</button>
                <button onclick="sendServiceForReview()" type="button" data-dismiss="modal" class="btn btn-success" id="send-for-review-btn" style="background-color:#00768c" disabled>Add</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function fillRejectionReason(rejectionReason) {
            $("#rejectionReason").text(rejectionReason);
        }
        // Function to get the value of a cookie
        function getCookie(name) {
            var nameEQ = name + "=";
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1, cookie.length);
                }
                if (cookie.indexOf(nameEQ) === 0) {
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }
            return null;
        }


        function deleteService(event, id) {
            var confirmation = confirm("Are you sure you want to delete this service?"); // Show confirmation dialog
            if (!confirmation) {
                return; // If user cancels, do nothing
            }
            $.ajax({
                url: '/ServiceProvider/DeleteUserService?Id=' + id, 
                type: 'GET',
                success: function (response) {
                    //serviceContainer.html(response);
                    toastr.success('Service removed successfully', 'Removed !!');
                    GetAllService();
                    GetMyService();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
            event.stopPropagation();
            event.preventDefault();
        }
        function GetMyService() {
            var serviceContainer = $('#serviceContainer');

            $.ajax({
                url: '/ServiceProvider/GetMyOwnServices',
                type: 'GET',
                success: function (response) {
                    serviceContainer.html(response);

                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function getActiveButtons() {
            const buttons = document.querySelectorAll('.privillages button'); // Get all buttons in the row
            const activeButtons = [];

            buttons.forEach((button) => {
                if (button.classList.contains('active')) {
                    activeButtons.push(button.getAttribute('data-value'));
                }
            });

            return activeButtons;
        }
        function getButtonByDataValue(dataValue) {
            const buttons = document.querySelectorAll('.privillages button');
            for (const button of buttons) {
                if (button.getAttribute('data-value') === dataValue) {
                    return button;
                }
            }
            return null; // Return null if no button with the specified data-value is found
        }

        function handleButtonClick(event) {
            const button = event.target;
            const isActive = button.classList.contains('active');
            if (button.getAttribute('data-value') === 'All') {
                const buttons = document.querySelectorAll('.privillages button');
                buttons.forEach((btn) => {
                    if (btn.getAttribute('data-value') === 'All') {
                        button.classList.add('active');
                    } else {
                        btn.classList.remove('active');
                    }
                });
            } else {

                var activeButton = getButtonByDataValue("All");
                activeButton.classList.remove('active');
                if (isActive) {
                    button.classList.remove('active');
                } else {
                    button.classList.add('active');
                }
            }

            const activeButtons = document.querySelectorAll('.privillages button.active');
            if (activeButtons.length === 0) {
                const allButton = document.querySelector('.privillages button[data-value="All"]');
                allButton.classList.add('active');
            }
            GetAllService();
        }

        function GetAllService() {
            var serviceContainer = $('#allServiceContainer');
            var listOfIDsString = getActiveButtons();
            var titleText = $("#filterInput").val();
            $.ajax({
                url: '/ServiceProvider/AllServiceCardPartial?clinicalSpecialitiesIds=' + listOfIDsString + "&kw=" + titleText, 
                type: 'GET',
                data: { clinicalSpecialitiesIds: listOfIDsString }, // Send the list of IDs as a query parameter 'ids'

                success: function (response) {
                    serviceContainer.html(response);

                    //search();

                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function fillAddServicePage(serviceId, titleAr, titleEn, fee) {
            $("#service-id-input").val(serviceId);
            $("#service-namear-input").val(titleEn);
            $("#price-input").val("0");

            $("#fee-input").val(fee);
        }

        function sendServiceForReview() {
            var serviceId = $("#service-id-input").val();
            var price = $("#price-input").val();

            $.ajax({
                url: '/ServiceProvider/AddUserService?serviceId=' + serviceId + '&price=' + price,
                type: 'POST',
                data: jQuery.param({ serviceId: serviceId, price: price }),
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#close-add-service").trigger("click");

                    console.log(response);
                    //loadUserProfileOverview();
                    toastr.success('Privilege sent for reveiew successfully', 'Success !!');
                    GetMyService();
                    GetAllService();
                    // Handle success response
                },
                error: function (error) {
                    console.log(error);
                    // Handle error response
                }
            });
        }

        function search() {
            // Find all the service card titles
            var titles = $('.service-card-title');
            titles.each(function () {
                var titleText = $("#searchInput").text();
                console.log(titleText);
            });

            // Find all the service card texts
            var texts = $('.service-card-text');
            texts.each(function () {
                var text = $(this).text();
                console.log(text);
            });
        }
        $(document).ready(function () {
            GetMyService();
            GetAllService();
            const buttons = document.querySelectorAll('.privillages button');
            buttons.forEach((button) => {
                button.addEventListener('click', handleButtonClick);
            });


            // Get the current URL
            var currentUrl = window.location.href;
            var resultCount = 0; // Variable to keep track of the number of results
            // Filter the service cards based on the title
            //$('#filterInput').on('keyup', function () {
            //    var value = $(this).val().toLowerCase();
            //    $('.service-card-title').filter(function () {
            //        var isMatch = $(this).text().toLowerCase().indexOf(value) > -1;
            //        $(this).parent().parent().parent().toggle(isMatch);
            //        if (isMatch === true) {
            //            resultCount++;
            //        } else {
            //        }

            //    });
            //    if (resultCount <= 0) {
            //        $('.no-results-section').show(); // Assuming you have a "no-results" element to display the message
            //    } else {
            //        $('.no-results-section').hide();
            //    }
            //    resultCount = 0;
            //});

            // Get the input field
            const filterInput = document.getElementById("filterInput");

            // Add event listener for 'keydown' event
            filterInput.addEventListener("keydown", function (event) {
                // Check if the key pressed is Enter (key value 'Enter')
                if (event.key === 'Enter') {
                    // Call the filtering function, which is GetAllService() in this case
                    GetAllService();
                    // Prevent the default behavior of the Enter key (form submission)
                    event.preventDefault();
                }
            });
            // Check if the URL contains a specific segment
            if (currentUrl.includes("Services")) {
                // Perform an action when the URL contains "something"
                $("#myServices-li").addClass("activeLink");
                $("#myServices-text").addClass("activeLink");
                $("#myProfile-li").removeClass("activeLink");
                $("#myProfile-text").removeClass("activeLink");
                $("#myReferrals-li").removeClass("activeLink");
                $("#myReferrals-text").removeClass("activeLink");
            } else {
                // Perform a different action when the URL doesn't contain "something"
                console.log("The URL does not contain 'Services'.");
            }
        })
    </script>


}


