@*Address*@
<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="fullname-edit-input">Full Name:<span style="color:red">*</span></label>
                <input onkeyup="canNext()" type="text" class="form-control" id="fullname-edit-input" placeholder="Full Name" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="phone-edit-input">Phone:<span style="color:red">*</span></label>
                <input onkeyup="canNext()" type="number" class="form-control" id="phone-edit-input" placeholder="Phone" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="email-edit-input">Email:</label>
                <input type="text" class="form-control" id="email-edit-input" placeholder="Email" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="countries-ddl-edit">Country:</label>
                <select class="form-control" id="countries-ddl-edit" onchange="getStatesById(this.value)">
                    <option value="">Select a Country</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="states-ddl-edit">State:</label>
                <select class="form-control" id="states-ddl-edit" onchange="getCitesById(this.value)">
                    <option value="">Select a State</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c" for="cities-ddl-edit">City:</label>
                <select class="form-control" id="cities-ddl-edit">
                    <option value="">Select a City</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <label style="font-weight:bold;color:#00768c">Gender:</label>
            <div class="form-group">
                <input type="radio" name="gender" id="female" class="input-hidden" style="padding:5px" value="0" />
                <label for="female">
                    <img src="~/images/female.png" class="selectOptionStyle" alt="Female" /> <span>&nbsp  &nbsp Female &nbsp  &nbsp  </span>
                </label>

                <input type="radio" name="gender" id="male" class="input-hidden" style="padding:5px" value="1" />
                <label for="male">
                    <img src="~/images/male.png" class="selectOptionStyle" alt="Male" />&nbsp  &nbsp Male &nbsp  &nbsp
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label style="font-weight:bold;color:#00768c">Age:</label>
            <div class="form-group">
                <input type="radio" name="age" id="child" class="input-hidden" value="0" />
                <label for="child">
                    <img src="~/images/child.png" class="selectOptionStyle" alt="child" /> 4 - 10 Years
                </label>

                <input type="radio" name="age" id="teenager" class="input-hidden" value="1" />
                <label for="teenager">
                    <img src="~/images/teenager.png" class="selectOptionStyle" alt="Male" /> 11 - 25 Years
                </label>

                <input type="radio" name="age" id="young" class="input-hidden" value="2" />
                <label for="young">
                    <img src="~/images/young.png" class="selectOptionStyle" alt="Male" />26 - 50 Years
                </label>

                <input type="radio" name="age" id="Aged" class="input-hidden" value="3" />
                <label for="Aged">
                    <img src="~/images/Aged.png" class="selectOptionStyle" alt="Male" /> > 50 Years
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label style="font-weight:bold;color:#00768c">Does the patient have a chronic disease?</label> <span style="color:gray;font-style:italic">(if not leave it empty)</span>
                <div class="form-check p-0">
                    <textarea id="chronicDisease" spellcheck="false" data-ms-editor="true" style="background-color: rgb(255, 255, 255); background-size: 100% 1.2em; background-image: linear-gradient(0deg, transparent 79px, rgb(171, 206, 212) 79px, rgb(171, 206, 212) 81px, transparent 81px), linear-gradient(rgb(238, 238, 238) 0.1em, transparent 0.1em); height: 196px;">
                                                            </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function getStatesById(countryId) {
        $.ajax({
            url: '@Url.Action("GetStatesDDL", "ServiceProvider")' + '?countryId=' + countryId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#states-ddl-edit').empty();
                // Populate the dropdown list
                var dropdown = $('#states-ddl-edit');
                // Add default option
                dropdown.append($('<option></option>').val('').text('Select a state'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
    }

    function getCitesById(stateId) {
        $.ajax({
            url: '@Url.Action("GetCitiesDDL", "ServiceProvider")' + '?stateId=' + stateId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#cities-ddl-edit').empty();
                // Populate the dropdown list
                var dropdown = $('#cities-ddl-edit');
                dropdown.append($('<option></option>').val('').text('Select a city'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
    }

    function canNext() {
        if ($("#fullname-edit-input").val().length != 0 && $("#phone-edit-input").val().length == 0) {
            $("#nextToSelectPrivilege").prop('disabled', true)
            $("#nextToSelectPrivilege").css("background", "gray");
            $("#nextToSelectPrivilege").css("cursor", "not-allowed");
        }
        else 
        {
            $("#nextToSelectPrivilege").prop('disabled', false)
            $("#nextToSelectPrivilege").css("background", "");
            $("#nextToSelectPrivilege").css("cursor", "pointer");
        }
    }
</script>