@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>

<div class="loginLogo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="restModalLabel">
                    Reset Password
                </h1>
            </div>

            <div class="modal-body">
                <form class="form-contain" method="POST">
                    <div class="form-group">
                        <label for="">
                            Email
                        </label>

                        <div class="form-data h-auto">
                            <input asp-for="Input.Email" class="form-control forget-input" autocomplete="username" placeholder="Please Enter Email" aria-required="true" />
                        </div>
                    </div>

                    <button type="submit" class="custom-btn mb-3">
                        <span>
                            Reset Password
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



