@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<section class="sub-header">
    <div class="container">
        <div class="content">
            <h1>
                About Us
            </h1>

            <ul class="bread-list">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <span>
                        About Us
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="about-us general-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-4">
                <div class="image-content">
                    <img src="~/images/about.png" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="content">
                    <p class="title">
                        About Us
                    </p>

                    <h1>
                        Mission and Story About

                        <span>
                            ElHAL
                        </span>
                    </h1>

                    <p class="desc">
                        Eihal is an idea that came from long experiences in clinical and academic services in the field of dentistry, and studying the problems of anyone need dental services to find the right dentist. Also, taking the advantage of the outputs of distinguished dental schools and helping young dentists to integrate into the market in appropriate way.
                    </p>

                    <p class="desc">
                        With Eihal, we aim to raise the level of dental services to reach distinct professional levels, while benefiting the new graduated dentists to improve the level of dental services to a proper professional way and creating a professional environment that enables them to benefit from the experiences of their predecessors to develop their professional skills.
                    </p>
                    <!-- <div class="flex-contain">
                        <img src="https://eihal.paths.sa/public/front/assets/images/about/about.png" class="user-img"
                            loading="lazy" alt="" />

                        <div class="contain">
                            <h2>
                                Dr. Khaled Ibrahim
                            </h2>

                            <p>
                                CEO & Founder
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 px-0">
                <div class="box primary-color">
                 @*   <div class="image-content">
                        <img src="~/images/ourMission.jpg" alt="">
                    </div>*@

                    <div class="contain">
                        <h1>
                            OUR MISSION
                        </h1>

                        <p>
                            Improving dental services and the profession, by involving technology to organize and improve the quality of treatment services and facilitate the integration of newly graduated dentists into the labor market.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 px-0">
                <div class="box secondary-color">
                  @*  <div class="image-content">
                        <img src="~/images/our-vision.jpg" alt="">
                    </div>*@

                    <div class="contain">
                        <h1>
                            OUR VISION
                        </h1>

                        <p>
                            improving the level of dental services provided, by facilitating reaching the best dentists in various specialties and improving the dental profession.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 px-0">
                <div class="box third-color">
                    @*<div class="image-content">
                        <img src="~/images/ourphilosphy.png" alt="">
                    </div>*@

                    <div class="contain">
                        <h1>
                            PHILOSOPHY
                        </h1>

                        <p>
                            To provide outstanding dental care with a commitment of honesty, integrity &amp; quality...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantages general-section">
    <div class="container">
        <div class="heading">
            <h1>
                Why Choose Eihal ?

                <!-- <span>
                    Advantages & Technologies
                </span> -->
            </h1>

            <ul class="list">
                <li>
                    • Easy access to a large number of specialistsand consultantsdentists.
                </li>
                <li>
                    • Providing all dental services at an affordable and varied prices.
                </li>
                <li>
                    • Opening a new and easy portal for newly graduated dentists to practice the profession in a professional manner and develop their professional skills by dealing with experienced specialists and consultants Dentists.
                </li>
            </ul>
        </div>

        <!-- <div class="row">
            <div class="col-lg-3 col-6 mb-4">
                <div class="box">
                    <img src="https://eihal.paths.sa/public/front/assets/images/advantages/advantages_1.svg" loading="lazy"
                        alt="" />

                    <h2>
                        Modern Equipment
                    </h2>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb-4">
                <div class="box">
                    <img src="https://eihal.paths.sa/public/front/assets/images/advantages/advantages_2.svg" loading="lazy"
                        alt="" />

                    <h2>
                        Friendly Doctors
                    </h2>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb-4">
                <div class="box">
                    <img src="https://eihal.paths.sa/public/front/assets/images/advantages/advantages_3.svg" loading="lazy"
                        alt="" />

                    <h2>
                        Comfortable Office
                    </h2>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb-4">
                <div class="box">
                    <img src="https://eihal.paths.sa/public/front/assets/images/advantages/advantages_4.svg" loading="lazy"
                        alt="" />

                    <h2>
                        High-Quality Materials
                    </h2>
                </div>
            </div>
        </div> -->
    </div>
</section>