<section class="sub-header">
    <div class="container">
      <div class="content">
        <h1>
          Contacts
        </h1>

        <ul class="bread-list">
          <li>
            <a href="#">
              Home
            </a>
          </li>

          <li>
            <span>
              Contacts
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="contact-us general-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 mb-4">
          <div class="heading-contact">
            <h1>
              Have a Question? Let’s Talk
            </h1>

            <p>
              Please feel welcome to contact our friendly staff with any enquiry.
            </p>
          </div>
          <div id="error">
                    </div>
        <form class="form-contain" method="POST" action="https://eihal.paths.sa/contact-us/insert" id="validation">

            <input type="hidden" name="_token" value="P9gMRWSZXiKVb1HY0oTRjpAhSnhUQU6JAmVkQpN8">            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="">
                    Your Name
                  </label>

                  <div class="form-data">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <label for="">
                    Phone
                  </label>

                  <div class="form-data">
                    <input type="text" name="contact" class="form-control" id="contact" maxlength="10" placeholder="Phone"  onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <label for="">
                    Email
                  </label>

                  <div class="form-data">
                    <input type="text" name="email" class="form-control" id="email" placeholder="Email"   />
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="">
                    Your Message
                  </label>

                  <div class="form-data text-area">
                    <textarea name="message" class="form-control" placeholder="Your Message" id="message" cols="30" rows="10"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="flex-end-data">
                  <button href="" class="custom-btn border" style="width: 140px !important;">
                    <span>
                      SEND MESSAGE
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-4 col-12 mb-4">
          <div class="data-contain">
            <a href="#" class="link">
              <div class="contain">
                <img src="https://eihal.paths.sa/public/front/assets/images/sms.svg" alt="">

                <h2>

                  Email
                </h2>
              </div>

              <p>

                                    info@eihal.com
                                  </p>
            </a>

            <a href="#" class="link">
              <div class="contain">
                <img src="https://eihal.paths.sa/public/front/assets/images/phone.svg" alt="">

                <h2>
                  Phone
                </h2>
              </div>

              <p>
                                    1212112121
                              </p>
            </a>

            <a href="#" class="link">
              <div class="contain">
                <img src="https://eihal.paths.sa/public/front/assets/images/location.svg" alt="">

                <h2>
                  Location
                </h2>
              </div>

              <p>
                                     Riyadh
                              </p>
            </a>


            <div class="contain">
              <img src="https://eihal.paths.sa/public/front/assets/images/share.svg" alt="">

              <h2>
                Social Links
              </h2>
            </div>

            <ul class="socail-media">
              <li>
                <a href="facebook.com">
                  <img src="https://eihal.paths.sa/public/front/assets/images/face.svg" alt="">
                </a>
              </li>

              <li>
                <a  href="linkedin.com" >
                  <img src="https://eihal.paths.sa/public/front/assets/images/linked.svg" alt="">
                </a>
              </li>

              <li>
                <a href="instagram.com" >
                  <img src="https://eihal.paths.sa/public/front/assets/images/insta.svg" alt="">
                </a>
              </li>

              <li>
                <a  href="twitter.com" >
                  <img src="https://eihal.paths.sa/public/front/assets/images/twitter.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="discount general-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mb-2">
          
        </div>

        <div class="col-lg-6 col-12" style="margin-bottom: 25px;">
          <form class="form-contain">
            <div class="row">
              <div class="col-lg-8 col-12">
                <div class="form-group mt-4">
                  <div class="form-data">
                    <input type="text" class="form-control" placeholder="Email Address" />
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-12">
                <div class="flex-end-data">
                  <a href="#" class="custom-btn">
                    <span>
                      SEND MESSAGE
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>