@model List<Eihal.Data.Entites.Notification>

@foreach (var notification in Model)
{
    <div class="custom-notification-item" style='@(notification.IsRead ? "":"background-color:lightblue")'>
        <div class="custom-notification-icon">
            <i class="fas fa-bell" style="color: #00768c;"></i>
        </div>
        <div class="custom-notification-content">
            <h6 class="custom-notification-message">@notification.MessageEn</h6>
            <span class="custom-notification-time">
                @{

                    //if((DateTime.Now -   notification.CreationDate) < 5
                    bool isLessThan5Minutes = DateTime.Now.Subtract(notification.CreationDate).Duration() < TimeSpan.FromMinutes(5);
                    if (isLessThan5Minutes)
                    {
                        <text>Now</text>
                    }
                    else
                    {
                        <text>@notification.CreationDate</text>
                    }
                }
            </span>
        </div>
    </div>
    <div style="border-bottom: 1px solid #cdcaca;">
        <!-- Your content goes here -->
    </div>
}
@if (Model.Count == 0)
{
    <div class="no-notification-container">
        <div class="notification-message">
            <img src="~/images/no-notification.webp" width="300" height="200">
            <br>
            <lable style="color:#00768c"> No Notifications Yet.</lable>
        </div>
    </div>

}


<a style="text-align:center" class="nav-link text-dark" href="/ServiceProvider/Notifications">
    <i id="notifications-icon" class="fa fa-angle-double-down"></i> <span id="notifications-text">Show More</span>
    </a>




<style>
    .unseen-color {
        background-color: lightblue
    }
</style>

