@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="padding:5%">
    <div class="profile-heading">
      <div class="row">
        <div class="col-lg-6 col-12 mb-1">
          <div>
   

            <ul class="bread-list">
              <li class="item">
                <a href="#">
                  Services
                </a>
              </li>

              <li>
                <span class="arrow">
                  &gt;
                </span>
              </li>

              <li class="item">
                <span class="name">
                  Services
                </span>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-12 mb-4 monile-none">
    <ul class="profile-list">
        <li class="">
            <a href="https://eihal.paths.sa/order-list">
                <img src="https://eihal.paths.sa/public/front/assets/images/profile/orders.svg" alt="">
                <span>
                    Referrals
                </span>
            </a>
        </li>
                
                                        <li class=" active ">
            <a href="https://eihal.paths.sa/order-services" class="active">
                <img src="https://eihal.paths.sa/public/front/assets/images/profile/services.svg" alt="">

                <span>
                    My Services
                </span>
            </a>
        </li>
                                                
        <li class="">
            <a href="https://eihal.paths.sa/profile-view">
                <img src="https://eihal.paths.sa/public/front/assets/images/profile/user.svg" alt="">

                <span>
                    Profile
                </span>
            </a>
        </li>
        <li class="">
            <a href="https://eihal.paths.sa/change-password">
                <img src="https://eihal.paths.sa/public/front/assets/images/profile/change_pass.svg" alt="">

                <span>
                    Change Password
                </span>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="https://eihal.paths.sa/public/front/assets/images/profile/notifcation.svg" alt="">

                <span>
                    Notifications
                </span>
            </a>
        </li>
    </ul>
</div>

      <div class="col-lg-9 col-12 mb-4">
                
                                <form class="form-contain">
          <div class="heading-style mt-3">
            <h1>
              my services
            </h1>
          </div>

                    <div class="row">
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('145','1200.0','1','75.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('145')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Home Teeth Bleaching                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       1200  SR All Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         75   SR All Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('146','1800.0','1','100.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('146')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Office (chairside) Bleaching                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       1800  SR All Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         100   SR All Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('147','2800.0','4','75.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('147')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Ceramic Veneer                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       2800  SR Per Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         75   SR Per Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('148','2800.0','4','100.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('148')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Zirconia Crown                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       2800  SR Per Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         100   SR Per Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('149','2800.0','4','100.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('149')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Ceramic Crown                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       2800  SR Per Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         100   SR Per Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('150','4800.0','4','200.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('150')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Implant Crown                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       4800  SR Per Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         200   SR Per Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                                                                  <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                          
                    <div class="state red">
                      Prosthodontics
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('151','5000.0','3','300.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('151')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Implant Supported OverDenture                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       5000  SR Per Jaw
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         300   SR Per Jaw
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('152','2800.0','4','75.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('152')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   3 unites (or more) bridge                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       2800  SR Per Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         75   SR Per Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('153','1500.0','1','100.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('153')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Occlusal Analysis and Adjustment                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       1500  SR All Teeth
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         100   SR All Teeth
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                        
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100 ">
                <div class="flex-item">
                  <div class="name">
                    
                    <div class="state red">
                      
                    </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details">
                      <img src="https://eihal.paths.sa/public/front/assets/images/dots.svg" alt="">
                    </div>

                    <div class="more-info">
                      <a href="#" type="button" onclick="editModal('154','1500.0','3','100.0')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/edit_pen.svg" alt="">

                        <span>
                          Edit
                        </span>
                      </a>

                      <a href="#" type="button" onclick="deleteModal('154')">
                        <img src="https://eihal.paths.sa/public/front/assets/images/form/delete.svg" alt="">

                        <span>
                          Delete
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

                <p>
                   Occlusal Splin night guard                   </p>

                <ul class="data-list data-margin">
                  <li>
                    <span class="name">
                      Service Price
                    </span>
                    <span class="data">
                       1500  SR Per Jaw
                    </span>
                  </li>
                  <li>
                    <span class="name">
                      Service Fees
                    </span>
                    <span class="data">
                         100   SR Per Jaw
                    </span>
                  </li>
                </ul>
                <div class="under-review">
                  <img src="https://eihal.paths.sa/public/front/assets/images/review.svg" alt="">
                  <h2>
                    Under Review
                  </h2>
                </div>
              </div>
            </div>
                      </div>
          
          <div class="heading-style mt-3">
            <h1>
              All services
            </h1>
          </div>

          <div class="row">
            <div class="col-12 mb-4">
              <div class="search-box">
                <input type="text" class="search-box-control" id="service_name" placeholder="Search for name" onkeyup="searchServices()" fdprocessedid="ruhzgj">

                <a href="javascript:void(0)" onclick="searchServices()" class="search-btn">
                  <img src="https://eihal.paths.sa/public/front/assets/images/form/search.svg" alt="">
                </a>
              </div>
            </div>

            <div class="col-12 mb-4">
              <ul class="filter-data">
                <li>
                  <a href="javascript:void(0)" class="active subprivilegecheck" data-subprivillegeid="all">
                    <span>
                      all
                    </span>
                    <div class="number">
                       61                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="22">
                    <span>
                       Restorative                     </span>
                    <div class="number">
                       2                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="26">
                    <span>
                       Prosthodontics                     </span>
                    <div class="number">
                       18                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="30">
                    <span>
                       Endodontics                     </span>
                    <div class="number">
                       9                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="38">
                    <span>
                       Pediatric Dentistry                     </span>
                    <div class="number">
                       11                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="42">
                    <span>
                       Oral and Maxillofacial Surgery                     </span>
                    <div class="number">
                       8                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="46">
                    <span>
                       Periodontics                     </span>
                    <div class="number">
                       7                     </div>
                  </a>
                </li>
                                                                                                                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="60">
                    <span>
                       General Practice                     </span>
                    <div class="number">
                       1                     </div>
                  </a>
                </li>
                                                                <li>
                  <a href="javascript:void(0)" class="subprivilegecheck" data-subprivillegeid="61">
                    <span>
                       Orthodontics                     </span>
                    <div class="number">
                       5                     </div>
                  </a>
                </li>
                                                              </ul>
            </div>
          </div>

          <div class="row" id="servicesrowDetails">
                        
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1672206533.Resto logo.png" alt="">
                                                        <div class="state red">
                    General Practice
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="198" type="button" onclick="openModal('198','171','60')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Scaling and Polishing of teeth  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="218" type="button" onclick="openModal('218','162','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Home Teeth Bleaching  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="222" type="button" onclick="openModal('222','157','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Office (chairside) Bleaching  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957165.Resto logo.png" alt="">
                                                        <div class="state red">
                    Restorative
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="229" type="button" onclick="openModal('229','183','22')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Inlay/onlay Indirect Restoration  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957165.Resto logo.png" alt="">
                                                        <div class="state red">
                    Restorative
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="233" type="button" onclick="openModal('233','183','22')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ceramic Veneer  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="234" type="button" onclick="openModal('234','188','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ceramic Veneer  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="238" type="button" onclick="openModal('238','188','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Composite Veneer  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="242" type="button" onclick="openModal('242','193','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Zirconia Crown  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="246" type="button" onclick="openModal('246','193','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ceramic Crown  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="249" type="button" onclick="openModal('249','204','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Complete Denture  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="252" type="button" onclick="openModal('252','204','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Partial Acrylic Denture  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="255" type="button" onclick="openModal('255','214','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Denture Relining  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="259" type="button" onclick="openModal('259','221','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Snap on Veneer  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="262" type="button" onclick="openModal('262','226','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Anterior Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="265" type="button" onclick="openModal('265','235','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Re-do Anterior Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="266" type="button" onclick="openModal('266','239','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Endodontic Surgery  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="268" type="button" onclick="openModal('268','228','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Premolar Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="269" type="button" onclick="openModal('269','230','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Molar Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="270" type="button" onclick="openModal('270','233','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Redo Premolar Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="271" type="button" onclick="openModal('271','231','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Redo Molar Root Canal Treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="272" type="button" onclick="openModal('272','240','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Removal of Broken file or Instrument  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957476.Endo logo.png" alt="">
                                                        <div class="state red">
                    Endodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="273" type="button" onclick="openModal('273','241','30')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Internal tooth Bleaching  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="277" type="button" onclick="openModal('277','197','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       3 unites (or more) bridge  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="278" type="button" onclick="openModal('278','199','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Occlusal Analysis and Adjustment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="279" type="button" onclick="openModal('279','200','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Occlusal Splin night guard  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="280" type="button" onclick="openModal('280','207','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Chrome Cobalt Removable Denture  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="281" type="button" onclick="openModal('281','215','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Implant Supported OverDenture  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="282" type="button" onclick="openModal('282','216','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       MaxilloFacial Prosthesis  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="283" type="button" onclick="openModal('283','217','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Palatal Obturator  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="290" type="button" onclick="openModal('290','244','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Teeth Restorations for Children  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="291" type="button" onclick="openModal('291','245','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Fixed Space Maint. - Unilateral  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="292" type="button" onclick="openModal('292','245','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Fixed Space Maint. - Bilateral  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="293" type="button" onclick="openModal('293','246','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Stainless Steel Crown  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="294" type="button" onclick="openModal('294','246','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Zirconia Crown (Primary tooth)  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="295" type="button" onclick="openModal('295','246','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Strip Crown  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="296" type="button" onclick="openModal('296','247','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Extraction of Primary teeth  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="297" type="button" onclick="openModal('297','248','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Treatmenbt with Nitrous Oxide  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="298" type="button" onclick="openModal('298','249','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Treatment with General Sedation  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="299" type="button" onclick="openModal('299','250','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Pulpotomy  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957825.Resto logo.png" alt="">
                                                        <div class="state red">
                    Pediatric Dentistry
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="300" type="button" onclick="openModal('300','250','38')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Pulpectomy  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1676199522.Ortho Logo.png" alt="">
                                                        <div class="state red">
                    Orthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="301" type="button" onclick="openModal('301','252','61')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ortho. treatment with brackets  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1676199522.Ortho Logo.png" alt="">
                                                        <div class="state red">
                    Orthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="302" type="button" onclick="openModal('302','252','61')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ortho. treatment (Invisaligne)  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1676199522.Ortho Logo.png" alt="">
                                                        <div class="state red">
                    Orthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="303" type="button" onclick="openModal('303','253','61')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ortho. with removable appliance  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1676199522.Ortho Logo.png" alt="">
                                                        <div class="state red">
                    Orthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="304" type="button" onclick="openModal('304','253','61')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ortho with functional appliance  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1676199522.Ortho Logo.png" alt="">
                                                        <div class="state red">
                    Orthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="305" type="button" onclick="openModal('305','254','61')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       orthognatic Surgery treatment  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="306" type="button" onclick="openModal('306','255','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Subgingival Root planning  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="307" type="button" onclick="openModal('307','256','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Gingivectomy  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="308" type="button" onclick="openModal('308','256','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Crown lengthening  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="309" type="button" onclick="openModal('309','256','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Soft tissue allograft  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="310" type="button" onclick="openModal('310','255','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Laser depigmentation  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="311" type="button" onclick="openModal('311','257','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Surgical Implant Placement  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="312" type="button" onclick="openModal('312','258','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Extraction for Adult (simple)  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="313" type="button" onclick="openModal('313','258','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Extraction for Adult (surgical)  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="314" type="button" onclick="openModal('314','258','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Extraction for Adult (Impacted)  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="315" type="button" onclick="openModal('315','259','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Sinus Lift - Internal  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="316" type="button" onclick="openModal('316','259','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Sinus Lift - External  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="317" type="button" onclick="openModal('317','260','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Sٍocket Preservation  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="318" type="button" onclick="openModal('318','260','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Ridge augmentation  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957983.Surgery Logo.png" alt="">
                                                        <div class="state red">
                    Oral and Maxillofacial Surgery
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="319" type="button" onclick="openModal('319','261','42')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Frenectomy  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671958143.Implant Logo.png" alt="">
                                                        <div class="state red">
                    Periodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="320" type="button" onclick="openModal('320','257','46')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Surgical removal of implant  
                    </p>
              </div>
            </div>
            
            
            <div class="col-lg-4 col-12 mb-4">
              <div class="order-box service-box h-100">
                <div class="flex-item">
                  <div class="name">
                                                            <img src="https://eihal.paths.sa/public/admin/upload/privilege-icons/1671957306.Prosth logo.png" alt="">
                                                        <div class="state red">
                    Prosthodontics
                  </div>
                  </div>

                  <div class="show-more">
                    <div class="more-details" id="add-service" data-id="321" type="button" onclick="openModal('321','193','26')">
                      <img src="https://eihal.paths.sa/public/front/assets/images/add.svg" alt="">
                    </div>
                  </div>
                </div>
                    <p>
                       Implant Crown  
                    </p>
              </div>
            </div>
                                  </div>
        </form>
      </div>
    </div>
    </div>