@model List<Eihal.Data.Entites.Services>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<style>
    .activeLink {
        color: #00768c;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    .toast {
        margin-top: 50px !important;
    }

    .toast-success {
        background-color: #00333f;
    }

    .no-results-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        font-size: 18px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .no-results-section img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .no-results-section p {
        margin: 0;
    }

    .margin-15-position-obselete {
        position: absolute;
        margin: 10px;
        width: 95%;
        margin-left: 35px;
        margin-bottom: 20px;
    }

    .service-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .service-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

    .service-card-body {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .service-card-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
        color: #00768c
    }

    .service-card-text {
        color: #666;
        margin-bottom: 5px;
    }


    .dots-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dots-button {
        background: none;
        border: none;
        color: #007bff;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }

        .dots-button::before {
            content: "...";
            position: absolute;
            color: #007bff;
            font-size: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::after {
            content: "";
            position: absolute;
            background-color: #007bff;
            width: 4px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::before,
        .dots-button::after {
            border-radius: 50%;
        }

        .dots-button::after {
            top: 54%;
        }

        .dots-button::before {
            top: 46%;
        }

    .activeLink {
        color: #00768c;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    #menu .nav-item:hover {
        /* Add your desired styles for hover state */
        background-color: #e0e0e0;
        color: #333;
    }

    .tab-header {
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
    }

    .padding-top-25 {
        padding-top: 25px;
    }

    .tab-button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        border-radius: 12px;
        margin: 5px;
    }

        .tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active {
            background-color: #00768c;
            color: white
        }

    .tab-content {
        background-color: #fff;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

        .search-container input {
            padding-right: 30px; /* Add space for the search icon */
        }

        .search-container i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
        }

</style>

<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:125px;">
                        @*  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>*@
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        @Html.Partial("_Sidebar")



                        <div class="col-xl-8 col-lg-8 ">

                            <br />



                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <span style="color:#00768c" class="nav-link" href="#">
                                            <i style="color:#00768c" class="fas fa-medkit" aria-hidden="true"></i>
                                            <span id="myServices-text" style="color:#00768c">My Privillages</span>
                                        </span>
                                    </h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="tab2" class="tab-content">
                                        <div class="container">
                                            <div class="row" id="serviceContainer">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <span style="color:#00768c" class="nav-link" href="#">
                                            <i style="color:#00768c" class="fas fa-medkit" aria-hidden="true"></i>
                                            <span id="myServices-text" style="color:#00768c">Privillages</span>
                                        </span>

                                    </h6>

                                </div>
                                <div class="row">
                                    <div class="form-group mr-2 search-container">
                                        <input type="text" class="form-control margin-15-position-obselete" id="filterInput" name="search" style="margin-top: 75px; background-color: #f2f2f2;" placeholder="Search" value="">
                                        <i class="fas fa-search" style="margin-top: 28px; margin-right: 2.5%; color: #00768c;cursor:pointer" onclick="search()"></i>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="tab2" class="tab-content">
                                        <div class="container">
                                            <div class="row" id="allServiceContainer">
                                            </div>
                                            <div class="no-results-section" style="display:none">
                                                <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                                <p>No Services Added Yet.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!------------------------------ Add Service -------------------->
<div class="modal fade" id="AddServiceModal" tabindex="-1" role="dialog" aria-labelledby="AddServiceModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUserProfileModal">Add Privillage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Add your modal content here -->
                    <div style="padding: 10px; display: flex; justify-content: center;">
                        <div style="max-width: 300px;">
                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="service-namear-input">Service Name:</label>
                                <input disabled type="text" class="form-control" id="service-namear-input" value="Test" required>
                                <input disabled type="hidden" id="service-id-input" value="0" required>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="fee-input">Fee:</label>
                                <input disabled type="text" class="form-control" id="fee-input" value="10%" required>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold; color: #00768c;" for="price-input">Your Price:</label>
                                <input type="number" class="form-control" id="price-input" value="10%" min="0" required onkeyup="if(this.value.length > 0) document.getElementById('send-for-review-btn').disabled = false; else document.getElementById('send-for-review-btn').disabled = true;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-add-service">Cancel</button>
                <button onclick="sendServiceForReview()" type="button" class="btn btn-success" id="send-for-review-btn" style="background-color:#00768c" disabled>Add</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function fillRejectionReason(rejectionReason) {
            $("#rejectionReason").text(rejectionReason);
        }

        function deleteService(event,id) {
            $.ajax({
                url: '/ServiceProvider/DeleteUserService?Id=' + id, // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    //serviceContainer.html(response);
                    toastr.success('Service removed successfully', 'Removed !!');
                    GetAllService();
                    GetMyService();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
              event.stopPropagation();
    event.preventDefault();
        }

        function GetAllService() {
            var serviceContainer = $('#allServiceContainer');

            $.ajax({
                url: '/ServiceProvider/AllServiceCardPartial', // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    serviceContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function fillAddServicePage(serviceId, titleAr, titleEn, fee) {
            $("#service-id-input").val(serviceId);
            $("#service-namear-input").val(titleEn);
            $("#price-input").val("0");

            $("#fee-input").val(fee);
        }
        function sendServiceForReview() {
            var serviceId = $("#service-id-input").val();
            var price = $("#price-input").val();

            $.ajax({
                url: '/ServiceProvider/AddUserService?serviceId=' + serviceId + '&price=' + price,
                type: 'POST',
                data: jQuery.param({ serviceId: serviceId, price: price }),
                processData: false,
                contentType: false,
                success: function (response) {

                    console.log(response);
                    $("#close-add-service").trigger("click");
                    //loadUserProfileOverview();
                    toastr.success('Service sent for reveiew successfully', 'Success !!');
                    GetMyService();
                    GetAllService();
                    // Handle success response
                },
                error: function (error) {
                    console.log(error);
                    // Handle error response
                }
            });
        }

        function search() {
            // Find all the service card titles
            var titles = $('.service-card-title');
            titles.each(function () {
                var titleText = $("#searchInput").text();
                console.log(titleText);
            });

            // Find all the service card texts
            var texts = $('.service-card-text');
            texts.each(function () {
                var text = $(this).text();
                console.log(text);
            });
        }
        $(document).ready(function () {
            GetMyService();
            GetAllService();
            // Get the current URL
            var currentUrl = window.location.href;
            var resultCount = 0; // Variable to keep track of the number of results
            // Filter the service cards based on the title
            $('#filterInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('.service-card-title').filter(function () {
                    var isMatch = $(this).text().toLowerCase().indexOf(value) > -1;
                    $(this).parent().parent().parent().toggle(isMatch);
                    if (isMatch === true) {
                        resultCount++;
                    } else {
                    }

                });
                if (resultCount <= 0) {
                    $('.no-results-section').show(); // Assuming you have a "no-results" element to display the message
                } else {
                    $('.no-results-section').hide();
                }
                resultCount = 0;
            });
            // Check if the URL contains a specific segment
            if (currentUrl.includes("Services")) {
                // Perform an action when the URL contains "something"
                $("#myServices-li").addClass("activeLink");
                $("#myServices-text").addClass("activeLink");
                $("#myProfile-li").removeClass("activeLink");
                $("#myProfile-text").removeClass("activeLink");
                $("#myReferrals-li").removeClass("activeLink");
                $("#myReferrals-text").removeClass("activeLink");
            } else {
                // Perform a different action when the URL doesn't contain "something"
                console.log("The URL does not contain 'Services'.");
            }
            //$("#companyAutoComplete").autocomplete({
            //    source: function (request, response) {
            //        $.ajax({
            //            url: "/Doctor/Index",
            //            type: "POST",
            //            dataType: "json",
            //            data: { kw: request.term },
            //            success: function (data) {
            //                response($.map(data, function (item) {
            //                    return { label: item.nameEn + ' - ' + item.nameAr, value: item.nameEn + ' - ' + item.nameAr };
            //                }))
            //            }
            //        })
            //    },

            //});
        })


    </script>


}



